@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.header-button{
  box-shadow: 0px -6px 14px 3px #ffffff0d;
}
@media (min-width:1024) {
  .swiper-slide-active > div > div{
    box-shadow: -8px -8px 10px rgba(58, 58, 58, 0.7);
  
  }
  .swiper-slide-active{
    transform: scale(1.0);
    transition: all 0.5s ease-in-out;
    
  }
}

@media (min-width: 1023px) and (max-width: 1280px) {
 
  .swiper-slide{
    max-width: 340px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  
  .swiper{
    max-width: 90%;
  }

}
@media (max-width: 1023px){
  .swiper{
    max-width: 90%;

  }
  .swiper-slide{
    max-width: 370px;
  }
  
 }
@media (min-width: 1024px){
  .swiper-slide-active{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    
  }
  .swiper-slide-next, .swiper-slide-prev{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  
  
  }
}
.swiper-slide-active > div{

}

.swiper-slide-active > div > div > div{
  /* box-shadow: 8px 8px 76px rgb(0 0 0 / 70%); */

}

.review-swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  top: 50%;
  /* right: -13px; */
  margin-left: -20px !important;

}

.review-swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  /* top: 36% !important; */
  /* margin-left: -20px !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #FFA31A;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.shadow-input{
 background: url('../public/assets/images/landing/input.svg');
}
