@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.header-button{
  box-shadow: 0px -6px 14px 3px #ffffff0d;
}
@media (min-width:1024) {
  .swiper-slide-active > div > div{
    box-shadow: -8px -8px 10px rgba(58, 58, 58, 0.7);
  
  }
  .swiper-slide-active{
    transform: scale(1.0);
    transition: all 0.5s ease-in-out;
    
  }
}

@media (min-width: 1023px) and (max-width: 1280px) {
 
  .swiper-slide{
    max-width: 340px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  
  .swiper{
    max-width: 90%;
  }

}
@media (max-width: 1023px){
  .swiper{
    max-width: 90%;

  }
  .swiper-slide{
    max-width: 370px;
  }
  
 }
@media (min-width: 1024px){
  .swiper-slide-active{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    
  }
  .swiper-slide-next, .swiper-slide-prev{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  
  
  }
}
.swiper-slide-active > div{

}

.swiper-slide-active > div > div > div{
  /* box-shadow: 8px 8px 76px rgb(0 0 0 / 70%); */

}

.review-swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  top: 50%;
  /* right: -13px; */
  margin-left: -20px !important;

}

.review-swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  /* top: 36% !important; */
  /* margin-left: -20px !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.line {
  fill: none;
  stroke: #FFA31A;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.shadow-input{
 background: url('../public/assets/images/landing/input.svg');
}
.shadow-product{
  background: url('../public/assets/images/requirements/productInput.svg');
 }
.shadow-input2{
  background: url('../public/assets/images/landing/input2.svg');
 }
.text-area{
  background: url('../public/assets/images/landing/textarea.svg');
 }
 .shadow-inside{
   filter: blur(3px) !important;
 }

 /* .range {
  width: 111px;
  height: 7px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  position: absolute;
  height: 10px;
  border-radius: 50%;
  background: url('../public/assets/images/requirements/slider.svg');
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #745FEA;
} */


.child{
	width: 100%;
	position: relative;
}
#range{
	width: 111px;
  border-radius: 10px;
  
}
.slide1{
	/* background: #745FEA; */
	width: 60px;
	height: 60px;
	displaY:grid;
	place-items:center;
	font-weight: bold;
	font-size: 18px;
/* color: #222f3e; */
	position: absolute;
	top: calc(50%);
	cursor: pointer;
	left: 0px;
	transform: translate(-50%,-50%);
	
	border-radius: 50%;
	z-index: 0;
}
.bg-checkbox{
  background: url('../public/assets/images/requirements/checkbox.svg');
}
#range {
  -webkit-appearance: none;
  width: 100%;
	position: relative;
}
#range:focus {
  outline: none;
}
#range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* background: #745FEA; */
  border-radius: 10px;
  /* border: 0.2px solid #010101; */
}
#range::-webkit-slider-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border: 1px solid #000000; */
  height: 44px;
  width: 46px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
  background: url('../public/assets/images/requirements/slider.svg');
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;

}
#range:focus::-webkit-slider-runnable-track {
  background: #745FEA;
}
#range[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
/*   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* background: #5f27cd; */
  border-radius: 1.3px;
/*   border: 0.2px solid #010101; */
}
#range::-moz-range-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
/*   border: 1px solid #000000; */
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: #ffffff;
  
  cursor: pointer;
/* 	z-index: 2;
	position: relative; */
opacity: 0;	

	
}
#range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
/*   border-width: 16px 0; */
  color: transparent;
  
}
#range::-ms-fill-lower {
  background: #2a6495;
  /* border: 0.2px solid #010101; */
  border-radius: 2.6px;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
#range::-ms-fill-upper {
/*   background: #000; */
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#range::-ms-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border: 1px solid #000000; */
  height: 31px;
  width: 31px;
  border-radius: 3px;
  background: #01a3a4;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
#range:focus::-ms-fill-lower {
  background: #000;
}
#range:focus::-ms-fill-upper {
  background: #367ebd;
}
.radio{
  font: inherit;
  /* color: #1B1B1B; */
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid white;
  background: white;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.radio::before {
  content: "";
  width: 1em;
  height: 1em;
  
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
  transform: scale(0.95);
  border: 0.15em solid #1B1B1B;
  border-radius: 100%;


}
.radio:checked::before {
  box-shadow: inset 1em 1em #FFA31A;
  
  transform: scale(1);
}
.product-shadow{ box-shadow: inset  4px 4px 4px 3px black;}
.radio:checked{
  background: #1B1B1B;
  
  border: 0.15em solid #FFA31A;

}

.custom-scroll::-webkit-scrollbar {
  width: 7px;
  /* background: #0505055d; */
}
.custom-scroll::-webkit-scrollbar {
  width: 7px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 7px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: white; 
}